body {
  font-family: cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

caption {
  text-decoration: 3px solid pink underline;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  padding: 0.5rem 1rem;
}

hr {
  margin: 2rem 0;
}

tr > :first-child {
  border-right: 2px solid pink;
}

button {
  background: pink;
  border: none;
  padding: 0.5rem 1rem;
  font-family: cursive;
  font-size: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background: darkorchid;
}

td > :nth-child(2) {
  margin-left: 4px;
}
